<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dovepay.doveEditor.mapper.DeeeMapper">
    <select id="getDeeeUserByName" resultType="com.dovepay.doveEditor.entity.DeeeUser">
        SELECT * FROM DEEE_USER WHERE NAME = #{name}
    </select>
    <insert id="insertDeeeAtcl">
        INSERT INTO DEEE_ATCL (TITLE,AUTHOR,EDITOR,TIME_CREATE,TIME_MODIFY,CONTENT,VERSION,ID,HIDDEN)
            VALUES (#{title}, #{author}, #{editor}, #{timeCreate}, #{timeModify}, #{content}, #{version}, #{id}, #{hidden})
    </insert>
    <select id="getDeeeAtclRowCount" resultType="Integer">
        SELECT MAX(TO_NUMBER(ID)) FROM DEEE_ATCL
    </select>
    <select id="getDeeeAtclList" resultType="com.dovepay.doveEditor.entity.DeeeAtclList">
        SELECT * FROM DEEE_ATCL
    </select>
    <select id="deleteDeeeAtclById">
        DELETE FROM DEEE_ATCL WHERE ID = #{id}
    </select>
    <select id="getDeeeAtclById" resultType="com.dovepay.doveEditor.entity.DeeeAtcl">
        SELECT * FROM DEEE_ATCL WHERE ID = #{id}
    </select>
    <update id="updateDeeeAtcl">
        UPDATE DEEE_ATCL
        <set>
            <if test="requestBody.title != null and requestBody.title.trim() != ''">
                TITLE = #{requestBody.title},
            </if>
            <if test="requestBody.author != null and requestBody.author.trim() != ''">
                AUTHOR = #{requestBody.author},
            </if>
            <if test="requestBody.editor != null and requestBody.editor.trim() != ''">
                EDITOR = #{requestBody.editor},
            </if>
            <if test="requestBody.timeModify == true">
                TIME_MODIFY = SYSTIMESTAMP,
            </if>
            <if test="requestBody.content != null and requestBody.content.trim() != ''">
                CONTENT = #{requestBody.content},
            </if>
            <if test="requestBody.version != null and requestBody.version.trim() != ''">
                VERSION = #{requestBody.version},
            </if>
            <if test="requestBody.hidden != null">
                HIDDEN = #{requestBody.hidden},
            </if>
        </set>
        WHERE ID = #{id}
    </update>
</mapper>